body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
    font-family: "Comic Sans MS";
  }
  p {
    color: red;
  }

  /* [data-af-custom-fonts="af-creatives-text"] {
    font-family: "Comic Sans MS" !important;;
} */